/*mobile*/
/*general rules*/
:root {
  --main-color: #849a9f;
  --secound-color: #0a3540;
}
main {
  min-height: calc(100vh - 564px);
}
svg {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  animation: spin 2.5s;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
select {
  font-family: nimbus-sans;
}
label {
  font-family: nimbus-sans;
}
.material-icons {
  font-size: 1.5em;
  padding-bottom: 0;
  padding-top: 10px;
  color: black;
}
.button {
  margin: 0 auto 1rem;
  padding: 1rem 1.5rem;
  min-width: 10rem;
  text-align: center;
  border-radius: 3rem;
  color: white;
  margin-top: 1rem;
}
.main-cta {
  background-color: #ab533f;
}
.button-container a {
  color: white;
}
.accesibility {
  display: none;
}
.nav-icon:hover {
  color: white;
}
.fav:hover {
  color: red;
}
p {
  font-family: nimbus-sans;
  font-size: 1rem;
}
h1,
h2,
h3 {
  font-family: nimbus-sans;
}
a {
  font-family: nimbus-sans;
  text-transform: uppercase;
  text-decoration: none;
}

/*Header style*/
body {
  margin: 0px;
  padding: 0px;
  background: white;
}
header {
  background-color: #849a9f;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

/*just logo things*/
.logo {
  width: 100px;
  margin: 0 auto;
}
.logo-div {
  order: 2;
  width: 33.3%;
  text-align: center;
}
.logo-div img {
  width: 100%;
}
/*Nav menu*/
.nav-list li {
  list-style: none;
}
#cart {
  display: none;
}
/*Checkbox hack*/
.nav-list {
  padding-left: 0;
  width: 100%;
  margin: 0;
  order: 4;
  background-color: var(--main-color);
}
.list-container {
  display: block;
  height: 200px;
  position: absolute;
  width: 100%;
  bottom: -199px;
}
.nav-list ul {
  margin: 0 !important;
}
.hidden {
  display: none;
}
#burger-menu:checked ~ .nav-list {
  display: block;
}
#burger-menu {
  display: none;
}
.burger-menu {
  padding-left: 0.5rem;
  padding-top: 0;
}
.burger-menu-span {
  align-self: center;
  padding: 0;
}
.menu {
  width: 33.3%;
  display: flex;
  align-items: center;
}
.nav-pages {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.3rem;
}
.nav-pages ul {
  padding-top: 5rem;
}
.nav-pages a {
  color: black;
}
.active a {
  color: white;
}
/*nav icons*/
.nav-icons {
  order: 3;
  width: 33.3%;
  text-align: right;
}
.nav-icon {
  font-size: 1.3rem;
}
.nav-icons > * {
  padding-right: 0rem;
}
.nav-icons ul {
  list-style: none;
}
.nav-icons li {
  display: inline-block;
}
/*End of nav*/

/*hero img start*/
.hero-img {
  background-image: url(images/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 60vh;
  max-height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.hero-img h1 {
  margin: 0 auto 2.5rem;
  font-size: 1.3rem;
  padding-top: 7rem;
  color: white;
  max-width: 70%;
  display: block;
}
.hero-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*hero end, intro start*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
.intro h2 {
  font-size: 1.2rem;
  text-align: center;
}
.intro p {
  margin: 0 1.5rem 0.8rem;
}
.about-button {
  background-color: #0a3540;
}
.button-container {
  display: flex;
  justify-content: center;
}
/*intro end showcase start*/

.showcase h2 {
  margin-top: 0;
}
.showcase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "product1 product2"
    "product3 product4";
  grid-gap: 0.5rem;
  margin: 1.5rem;
}
.product {
  font-size: 1em;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}
.product img {
  height: 100%;
}
.product1 {
  grid-area: product1;
}
.product2 {
  grid-area: product2;
}
.product3 {
  grid-area: product3;
}
.product4 {
  grid-area: product4;
}

.p5 {
  display: none;
}
.p6 {
  display: none;
}
.product h3 {
  margin: 0.3rem 0;
  font-size: 1.1rem;
}
.product p {
  margin: 0;
  padding: 0;
}
.overlay-container {
  position: relative;
  width: 100%;
}
.overlay-container img {
  width: 100%;
}
.icon {
  position: absolute;
  right: 0.5rem;
  z-index: 99;
  color: red;
}
/*footer */

.footer-section-one {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  background-color: #0a3641;
  margin: 0;
  text-align: left;
  padding: 1rem;
  height: 10rem;
}
.footer-section-one a {
  color: white;
  text-decoration: underline;
  font-size: 1rem;
}
.footer-section-one a:hover {
  text-decoration: none;
  font-weight: bold;
}
.footer-section-one ul {
  padding: 0;
  align-self: center;
}
.footer-section-one li {
  list-style: none;
  padding-bottom: 1rem;
  text-align: left;
}
.footer-section-one p {
  color: white;
  font-size: 0.7em;
}
.line-div {
  width: 0px;
  border: 0.03rem #707070 solid;
  min-height: 1rem;
  justify-content: center;
  background-color: #707070;
  padding: 0;
  margin: 0;
}
.social img {
  display: flex;
  flex-direction: column;
  width: 2rem;
  margin: auto;
}
.container-adress {
  margin: auto 0;
}
.footer-section-two {
  background-color: rgba(35, 119, 140, 61%);
  padding: 2rem 0;
}
.footer-section-two ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-section-two li {
  display: inline-block;
  padding: 1rem;
}
.fav {
  display: none;
}
.icon {
  display: none;
}
@media (max-width: 350px) {
  .footer-section-two li {
    padding: 0.5rem;
  }
  .nav-icons {
    display: none;
  }
  .hero-img {
    background-position-x: left;
  }
  #cart {
    display: block;
  }
  .social img {
    width: 2rem;
  }
  .button-container {
    margin: 0 auto;
    padding: 1rem 1rem;
    min-width: 10rem;
    text-align: center;
    border-radius: 3rem;
    color: white;
    margin-top: 1rem;
  }
  .product {
    height: 35rem;
  }
  .product img {
    height: 100%;
    object-fit: fill;
  }
  .grid-container {
    grid-template-areas:
      "product1"
      "product2"
      "product3"
      "product4";
    grid-gap: 0.5rem;
    margin: 1.5rem;
  }
}
@media (min-width: 700px) {
  .burger-menu {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav > * {
    flex: 1;
    padding: 10px;
  }
  .logo-div img {
    height: auto;
    width: 8rem;
    object-fit: cover;
  }
  .logo {
    display: inline-block;
    flex: 1;
    padding: 0;
  }
  .menu {
    display: none;
  }
  .list-container {
    all: unset;
    flex: 6;
    padding-top: 0;
    display: flex;
    padding: 1rem;
    order: 2;
  }
  .logo-div {
    order: 1;
    display: flex;
    align-items: center;
    text-align: left;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    height: 6rem;
  }
  .menu {
    order: 2;
    flex-grow: 3;
    text-align: center;
  }
  .nav-bar {
    padding: 10px;
  }
  .nav-pages {
    display: inline-block;
    font-size: 2em;
    margin-right: 50px;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  .nav-list a {
    text-decoration: none;

    font-size: 1.5rem;
  }
  .nav-list li {
    margin: 0 15px;
  }
  .nav-list a:hover {
    color: white;
  }
  .nav-list {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  ul {
    margin-top: 0 !important;
  }
  .nav-icons {
    justify-items: right;
    float: right;
    color: black;
    flex-grow: 1;
  }
  .nav-icon {
    padding: 10px;
  }
  .material-icons {
    font-size: 1.5rem;
  }
  .hero-img {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 282px);
    padding-top: 150px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
  }
  .hero-img h1 {
    padding: 0;
    font-size: 1.7rem;
    max-width: 700px;
    padding: 0;
    margin: 10rem auto 0;
  }

  .button {
    width: 300px;
    border-radius: 35px;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .intro h2 {
    font-size: 1.9rem;
  }
  .intro p {
    max-width: 60%;
    display: block;
    margin: 0.1rem auto;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
  .about-button {
    background-color: #0a3540;
    margin: 2rem auto 0;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "product1 product2 product3"
      "product4 product5 product6";
    padding-bottom: 100px;
    width: 60%;
    margin: 30px auto;
  }
  .product {
    font-size: 1em;
    width: 100%;
    padding: 0.2rem;
  }
  .product1 {
    grid-area: product1;
  }
  .product2 {
    grid-area: product2;
  }
  .product3 {
    grid-area: product3;
  }
  .product4 {
    grid-area: product4;
  }
  .product5 {
    grid-area: product5;
  }
  .product6 {
    grid-area: product6;
  }
  .p5 {
    display: block;
  }
  .p6 {
    display: block;
  }
  .product img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .product h3 {
    margin: 10px 0;
    padding: 0;
  }
  .product p {
    margin: 0;
    padding: 0;
  }
  .product:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3),
      10px 10px 10px 0 rgba(0, 0, 0, 0.4);
  }
  .footer-section-one {
    justify-content: space-between;
  }
  .footer-section-one ul {
    margin: 1rem 15rem 3rem 5rem;
  }
  .container-adress {
    text-align: left;
    margin-right: 20rem;
    font-size: 1.5rem;
  }
  .button:hover {
    background-color: white;
    border: 0.5rem #ab533f solid;
    padding: 1rem 1.5rem;
    color: black;
  }
  .about-button:hover {
    border: 0.5rem #0a3540 solid;
  }
  .footer-section-two li {
    padding: 0.5rem;
  }
  .footer-section-two ul {
    display: flex;
    justify-content: space-around;
  }
  .social img {
    width: 2rem;
  }
}
@media (min-width: 1400px) {
  .showcase {
    max-width: 60%;
    margin: 0 auto;
  }
}
