h1 {
  display: flex;
  justify-content: center;

  border: 10px black dashed;
  padding: 30px;
}
a {
  display: flex;
  justify-content: center;

  text-decoration: none;
  color: white;
  background-color: green;
  padding: 30px 0;
  border-radius: 30px;
  font-size: 3em;
  border: 5px black solid;
}
a:hover {
  border: 5px green solid;
  color: black;
  background-color: white;
}
header{
  display:none;
}